* {
  margin: 0;
  padding: 0;
  font-size: 10px; }

.container {
  font-family: "Montserrat", sans-serif; }

.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../images/banner-bg.jpeg) center no-repeat;
  background-size: cover; }
  .banner .logo {
    height: 8rem;
    width: 8rem;
    position: fixed;
    top: 2rem;
    left: 5rem; }
    .banner .logo img {
      width: 100%; }

.hamburger-menu {
  width: 3.5rem;
  height: 3rem;
  position: fixed;
  top: 4rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 100; }
  .hamburger-menu .line {
    width: inherit;
    height: .5rem;
    background-color: #16c3cf;
    border-radius: 2.5rem; }
  .hamburger-menu .line-2 {
    height: .3rem; }

.btn-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1000px; }
  .btn-wrapper .banner-btn {
    width: 35rem;
    height: 10rem;
    background: linear-gradient(#16c3cf, #156469);
    border: none;
    outline: none;
    font-family: "Slabo 27px", serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
    color: #fff;
    text-shadow: 0 1rem 1rem #000;
    cursor: pointer;
    transform: rotateX(70deg) rotateZ(30deg);
    transform-style: preserve-3d;
    transition: transform .5s; }
    .btn-wrapper .banner-btn:hover {
      transform: rotateX(30deg) rotateY(0deg); }
    .btn-wrapper .banner-btn::before {
      content: "";
      width: 100%;
      height: 1.5rem;
      background-color: #156469;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: rotateX(90deg);
      transform-origin: bottom; }
    .btn-wrapper .banner-btn::after {
      content: "";
      width: 1.5rem;
      height: 100%;
      background-color: #16c3cf;
      position: absolute;
      top: 0;
      right: 0;
      transform: rotateY(-90deg);
      transform-origin: right; }

.top-nav {
  height: 15vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/nav-bg.jpeg) no-repeat 50% 0;
  background-size: cover;
  position: fixed;
  top: 0;
  z-index: 50; }
  .top-nav .nav-list {
    background-color: #ccc;
    list-style: none;
    width: 80%;
    margin: auto;
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
